<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Friendly Coaches</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
<!--                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                    <img src="img/ken2.jpg" class="img-responsive" alt="Responsive image">
                    <h3>Ken</h3>
                    <p class="text-muted">Manager</p>
                    <p class="text-muted">Coach & Fitness Trainer</p>
                    <p class="text-muted">Standard First Aid Certified</p>
                    <p class="text-muted">CPF & AED Certified</p>
                    <p class="text-muted">Values and Princples in Sports (Sport Singapore)</p>
                    <p class="text-muted">More than 10 years of badminton experience</p>
                    <p class="text-muted">Licensed Coach <a target="_blank" href="https://www.myactivesg.com/Sports/Find-a-Coach/K/Kenneth-Koh-Hao-Wenn">(ActiveSG National Registry of Coaches)</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/kav-bmtn-2.jpg" class="img-responsive" alt="Responsive image">
                    <h3>Kavan Koh</h3>
                    <p class="text-muted">Senior Coach</p>
                    <p class="text-muted">Fuhua Secondary Badminton Team</p>
                    <p class="text-muted">2004 'C' Division 4th placing</p>
                    <p class="text-muted">2005 'C' Division 2nd placing</p>
                    <p class="text-muted">2006 'B' Division 3rd placing</p>
                    <p class="text-muted">2007 'B' Division 3rd placing</p>
                    <p class="text-muted">Trained by ex-National Badminton Team Coach (4 years)</p>
                    <p class="text-muted">2009 Nanyang JC Badminton Championship 3rd placing</p>
                    <p class="text-muted">2013 NTU Hall 11 Badminton Captain</p>
                    <p class="text-muted">2013 NTU Inter-Hall Games top 8 placing</p>
                    <p class="text-muted">Emergency Medical Technician 1</p>
                    <p class="text-muted">Standard First Aid and CPR Certified</p>
                    <p class="text-muted">Foundational Sports Science (Sport Singapore)</p>
                    <p class="text-muted">More than 20 years of badminton experience</p>
                    <p class="text-muted">People's Association Certified Trainer</p>
                    <p class="text-muted">Licensed Coach <a target="_blank" href="https://www.myactivesg.com/Sports/Find-a-Coach/K/Kavan-Koh-Li-Wenn">(ActiveSG National Registry of Coaches)</a></p>
                </div>
            </div>
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <div class="service-box">-->
<!--                    <i class="fas fa-10x fa-user-astronaut wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
<!--                    <h3>Jac</h3>-->
<!--                    <p class="text-muted">Coach</p>-->
<!--                    <p class="text-muted">Fuhua Badminton Women's Team</p>-->
<!--                    <p class="text-muted">2005 'C' Division 2nd placing</p>-->
<!--                    <p class="text-muted">2006 'B' Division 1st placing</p>-->
<!--                    <p class="text-muted">More than 15 years of badminton experience</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
<!--                    <h3>Kid Private Sessions</h3>-->
<!--                    <p class="text-muted">Up to 2 players. $70 per session.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
<!--                    <h3>Adult Private Sessions</h3>-->
<!--                    <p class="text-muted">Up to 2 players. $70 per session.</p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
