<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Flexible Schedules</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Group Playing Sessions</h3>
                    <p class="text-muted">Clementi Sports Hall</p>
                    <p class="text-muted">Tuesday 8pm - 10pm</p>
                    <p class="text-muted">Wednesday 8pm - 10pm</p>
                    <p class="text-muted">Thursday 8pm - 10pm</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Junior Group Sessions</h3>
                    <p class="text-muted">Clementi Sports Hall</p>
                    <p class="text-muted">Sunday 10am to 12pm</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-steam wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Junior/Adult Private Sessions</h3>
                    <p class="text-muted">OCBC Arena</p>
                    <p class="text-muted">Clementi Sports Hall</p>
                    <p class="text-muted">Jurong West Sports Hall</p>
                    <p class="text-muted">Monday-Friday: 1pm to 10pm</p>
                    <p class="text-muted">Saturday-Sunday: 9am to 4pm</p>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1994.3867059246454!2d103.764292!3d1.311323!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1b2348157f01%3A0xaa7fc98b764e53f6!2sKace%20Badminton%20Academy!5e0!3m2!1sen!2ssg!4v1637854069957!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
